data/*
!data/pred/
.env
liquor_app.egg-info/
build/
!.gitkeep
model/*

# Jupiter Notebook #
.pytest_cache
__pycache__
*checkpoint.ipynb
*.ipynb_checkpoints

# databases #
*.csv
*.gz
*.zip
*.sqlite
*.Identifier
